{{>licenseInfo}}
import axios, { AxiosRequestConfig, Method } from 'axios';

import { axios as axiosClient, MambaApiError } from '../axios.config';
{{#hasFormParams}}
import { stringify } from 'qs';
{{/hasFormParams}}

{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}

/* tslint:disable:no-unused-variable member-ordering max-line-length */
/* eslint-disable no-useless-concat */

{{#operations}}
{{#description}}
/**
 * {{&description}}
 */
{{/description}}
export class {{classname}}Resource {

{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}{{^isCookieParam}}{{^isHeaderParam}}* @param {{paramName}} {{description}}
     {{/isHeaderParam}}{{/isCookieParam}}{{/allParams}}
     */
    public {{nickname}}({{#allParams}}{{^isQueryParam}}{{^isCookieParam}}{{^isHeaderParam}}{{^isBodyParam}}{{paramName}}{{/isBodyParam}}{{#isBodyParam}}body{{/isBodyParam}}{{^required}}?{{/required}}: {{{dataType}}}, {{/isHeaderParam}}{{/isCookieParam}}{{/isQueryParam}}{{/allParams}}{{#hasQueryParams}}query?: { {{#queryParams}}{{#lambda.snakecase_param}}{{paramName}}{{/lambda.snakecase_param}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}},{{/-last}} {{/queryParams}}}, {{/hasQueryParams}}axiosConfig?: AxiosRequestConfig): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}> {
        const apiRoute = '{{path}}';
        const reqPath = apiRoute{{#pathParams}}
                    .replace('{' + '{{baseName}}}', String({{paramName}}{{#isDateTime}}.toISOString(){{/isDateTime}})){{/pathParams}};
{{#hasFormParams}}
        let reqFormParams = {
{{#formParams}}
            {{baseName}}: {{paramName}}{{^-last}},{{/-last}}
{{/formParams}}
        };
{{/hasFormParams}}
        const reqConfig = {
            ...axiosConfig,
            method: '{{httpMethod}}' as Method,
            url: reqPath{{#hasQueryParams}},
            params: query{{/hasQueryParams}}{{#bodyParam}},
            data: body{{/bodyParam}}{{#hasFormParams}},
            headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
            data: stringify(reqFormParams),
{{/hasFormParams}}

        };

        let originalStacktrace: string | null = new Error().stack ?? null;

        return axiosClient.request(reqConfig)
            .then(res => {
                return res.data;
            })
            .catch(error => {
                if (axios.isAxiosError(error)) {
                    const formattedError = new MambaApiError({ apiRoute, error });
                    formattedError.stack = originalStacktrace || formattedError.stack;
                    originalStacktrace = null;

                    throw formattedError;
                }

                throw error;
            });
    }

{{/operation}}
}
{{/operations}}

export const {{classname}} = new {{classname}}Resource();
