{{>licenseInfo}}
import type { AxiosRequestConfig } from 'axios';

import { mamba } from '../index';

{{#hasFormParams}}
import { stringify } from 'qs';
{{/hasFormParams}}

{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}

/* tslint:disable:no-unused-variable member-ordering max-line-length */
/* eslint-disable no-useless-concat */

{{#operations}}
{{#description}}
/**
 * {{&description}}
 */
{{/description}}
export class {{classname}}Resource {

{{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}{{^isCookieParam}}{{^isHeaderParam}}* @param {{paramName}} {{description}}
     {{/isHeaderParam}}{{/isCookieParam}}{{/allParams}}
     */
    public {{nickname}}({{#allParams}}{{^isQueryParam}}{{^isCookieParam}}{{^isHeaderParam}}{{^isBodyParam}}{{paramName}}{{/isBodyParam}}{{#isBodyParam}}body{{/isBodyParam}}{{^required}}?{{/required}}: {{{dataType}}}, {{/isHeaderParam}}{{/isCookieParam}}{{/isQueryParam}}{{/allParams}}{{#hasQueryParams}}query?: { {{#queryParams}}{{#lambda.snakecase_param}}{{paramName}}{{/lambda.snakecase_param}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}},{{/-last}} {{/queryParams}}}, {{/hasQueryParams}}axiosConfig?: AxiosRequestConfig): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
        const url = '{{httpMethod}} {{path}}' as const;


        {{#hasInputParams}}
        const input = {
            {{#pathParams}}
            {{#lambda.snakecase_param}}{{paramName}}{{/lambda.snakecase_param}}: {{paramName}},
            {{/pathParams}}

            {{#hasQueryParams}}
            query,
            {{/hasQueryParams}}

            {{#hasBodyParam}}
            data: body,
            {{/hasBodyParam}}

            {{#hasFormParams}}
            form: {
            {{#formParams}}
                {{#lambda.snakecase_param}}{{baseName}}{{/lambda.snakecase_param}}: {{paramName}}{{^-last}},{{/-last}}
            {{/formParams}}
            }
            {{/hasFormParams}}
        };

        return mamba.request(url, input, axiosConfig);
        {{/hasInputParams}}
        
        {{^hasInputParams}}
        return mamba.request(url, axiosConfig);
        {{/hasInputParams}}

    }

{{/operation}}
}
{{/operations}}

export const {{classname}} = new {{classname}}Resource();
