import {EnumMetadata} from '../metadata'

{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
export enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}

export const {{classname}}Metadata: EnumMetadata<{{classname}}> = {
    metadataType: 'enum',
    name: '{{classname}}',
    values: {
        {{#vendorExtensions.x-enum-metadata}}
        [{{classname}}.{{name}}]: {
            name: "{{name}}",
            value: {{classname}}.{{name}},
            label: "{{label}}"  
        },
        {{/vendorExtensions.x-enum-metadata}}
    }
}
