import {EnumMetadata} from '../metadata'

{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
{{#vendorExtensions.x-enum-as-union}}
export type {{classname}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};
{{/vendorExtensions.x-enum-as-union}}
{{^vendorExtensions.x-enum-as-union}}
export enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}
{{/vendorExtensions.x-enum-as-union}}

{{! TODO: create a LiteralUnionMetadata for x-enum-as-union? }}
export const {{classname}}Metadata: EnumMetadata<{{classname}}> = {
    metadataType: 'enum',
    name: '{{classname}}',
    values: {
        {{#vendorExtensions.x-enum-metadata}}
        [{{classname}}.{{name}}]: {
            name: "{{name}}",
            value: {{classname}}.{{name}},
            label: "{{label}}"
        },
        {{/vendorExtensions.x-enum-metadata}}
    }
}
