{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
export enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
    {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}


export const {{classname}}Metadata: EnumMetadata<{{classname}}> = {
    name: '{{classname}}',
    title: '',
    values: {
        {{#allowableValues}}
        {{#enumVars}}
            {{{name}}}: {{{value}}}{{^-last}},{{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }
}
